body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif; 
  width: 70%;
  margin: 0 auto;
}

.logo {
	margin-top: 20px;
}

.logo img {
	height: 100px;
}

a, a:visited {
	color: black;
}

@media screen and (max-width: 850px) {
  body {
    width: 90%;
  }
}